{% extends "page.html" %}

{% block login_widget %}
{% endblock %}

{% block main %}

{% block login %}
<div class="container d-flex flex-column justify-content-center" style="min-height: 60vh;">
  <div class="row">
    <div id="swan-loader" class="d-flex flex-column align-items-center justify-content-center gap-3 py-5 animate">
      <div class="loader-ring">
        <img src="{{ static_url('swan/logos/' + swan_logo_filename) }}" alt="SWAN logo">
      </div>
      <span class="loader-text text-body-secondary">Logging you in...</span>
    </div>
  </div>
</div>
{% endblock login %}

{% endblock %}

{% block script %}
{{super()}}
<script type="text/javascript">
  window.location.replace('{{authenticator_login_url}}');
</script>
{% endblock %}
