{% extends "templates/spawn.html" %}
{% from "_macros.html" import swan_loader with context %}
{% if announcement_spawn is string %}
  {% set announcement = announcement_spawn %}
{% endif %}

{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ static_url('swan/options-form/options-form.css') }}">
{% endblock %}

{% block main %}
<main class="container justify-content-start" style="max-width: 700px;">
  <div class="row">
    <form enctype="multipart/form-data" id="spawn_form" action="{{ url | safe }}" method="post" role="form">
      {% if error_message %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          {{error_message | safe}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <div>
        <div id="spawner-options">
          {{spawner_options_form | safe}}
        </div>
        <div class="w-100 text-center mt-3">
          <button type="submit" id="spawn" class="btn btn-default btn-primary btn-lg w-100">
            <span>
              <i class="fa fa-rocket me-1"></i>
              Start new session
            </span>
          </button>
        </div>
      </div>
    </form>

    {% call swan_loader(visible=false) %}
      <div class="text-center">
        <h4>Starting your session...</h4>
        <p>You will be redirected automatically when it's ready for you.</p>
      </div>
    {% endcall %}
  </div>
</main>
{% endblock %}

{% block script %}
<script id="swan-options-form-tn-enabled" type="application/json">{{ 'true' if tn_enabled else 'false' }}</script>
<script type="module" src="{{ static_url('swan/options-form/options-form.js') }}"></script>
<script type="text/javascript">
  // Hide the form and show the loading spinner on submit.
  const mainContainer = document.querySelector('main.container');
  const spawnForm = document.getElementById('spawn_form');
  const loader = document.getElementById('swan-loader');

  spawnForm.addEventListener('submit', () => {
    spawnForm.classList.add('hidden');
    loader.classList.remove('d-none');
    loader.classList.add('d-flex');
    mainContainer.classList.add('justify-content-center');
    mainContainer.classList.remove('justify-content-start');
  });
</script>
{% endblock %}
