{% extends "page.html" %}
{% if announcement_spawn is string %}
  {% set announcement = announcement_spawn %}
{% endif %}

{% block main %}


<div id="configuration-form" class="form-container">
  <form enctype="multipart/form-data" id="spawn_form" action="{{ url | safe }}" method="post" role="form">
    <div class="form-header">
      <h1>Configure Environment</h1>
    </div>
    <div class="form-content">
      {% if error_message %}
      <div class="alert alert-dismissable alert-danger">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <p>{{error_message | safe}}</p>
      </div>
      {% endif %}
      <div id="spawner-options">
        {{spawner_options_form | safe}}
      </div>
    </div>
    <div class="form-footer">
      {% if save_config %}<div class="keep-config">
        <input type="checkbox" id="keep-config" name="keep-config" class="keep-config-checkbox"><label
          for="keep-config"> Always start with this configuration</label>
      </div>{% endif %}
      <input type="submit" id="spawn" value="Start my Session" class="btn btn-default btn-primary size-100">
    </div>
  </form>

  <!-- SWAN Logo - displayed during session startup -->
  <div id="swan-loader" class="swan-loader-overlay" style="display: none;">
    <div class="loader-circle">
      <img src="{{ static_url('swan/logos/' + swan_logo_filename) }}">
    </div>
    <div class="loader-line-mask">
      <div class="loader-line"></div>
    </div>
    <span class="text"></span>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

  require(['jquery'], function ($) {

    $("#spawner-options").find("input, select, textarea, button").addClass("form-control");
    var loader = $('#swan-loader');
    var loaderMask = $('#swan-loader .loader-line-mask');
    var message = $('#swan-loader .text');

    /*
    * This function keeps the "use-tn" checkbox in sync, whether the cluster is exposed to the TN or not.
    */
    function updateUseTnCheckbox() {
      const tnCheckbox = document.getElementById('use-tn');
      if (tnCheckbox) tnCheckbox.checked = '{{ tn_enabled }}' === 'True';
      else console.warn("'use-tn' is not defined, cannot set use-tn checkbox");
    }

    $('#spawn').on('click', function (e) {
      const form = document.getElementById('spawn_form');

      // If form is valid, show the loader overlay
      if (form.checkValidity()) {
        loaderMask.show();
        message.text("Starting your session");
        loader.show();
      }
    });

    // Initialize on page load
    updateUseTnCheckbox();

    // This runs when user comes back via browser history (e.g. Back button)
    window.onpageshow = function(event) {
      updateUseTnCheckbox();
    };
  });

</script>
{% endblock %}
