{% extends "templates/spawn.html" %}
{% if announcement_spawn is string %}
  {% set announcement = announcement_spawn %}
{% endif %}

{% block main %}
<main class="container justify-content-start" style="max-width: 600px;">
  <div class="row">
    <form enctype="multipart/form-data" id="spawn_form" action="{{ url | safe }}" method="post" role="form">
      {% if error_message %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          {{error_message | safe}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <h2>Configure your session</h2>
      <div>
        <div id="spawner-options">
          {{spawner_options_form | safe}}
        </div>
        {% if save_config %}
          <div class="form-check mb-3">
            <input type="checkbox" id="keep-config" name="keep-config" class="form-check-input">
            <label for="keep-config" class="form-check-label">
              Always start with this configuration
            </label>
          </div>
        {% endif %}
        <div class="w-100 text-center">
          <button type="submit" id="spawn" class="btn btn-default btn-primary btn-lg w-100">
            <span id="submit-spinner" class="flex hidden align-items-center justify-content-center gap-2">
              <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
              <span role="status">Starting your session...</span>
            </span>
            <span id="submit-text">
              <i class="fa fa-rocket me-1"></i>
              Start new session
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}

{% block script %}
<script type="text/javascript">
  /*
  * This function keeps the "use-tn" checkbox in sync, whether the cluster is exposed to the TN or not.
  */
  function updateUseTnCheckbox() {
    const tnCheckbox = document.getElementById('use-tn');
    if (tnCheckbox) tnCheckbox.checked = '{{ tn_enabled }}' === 'True';
    else console.warn("'use-tn' is not defined, cannot set use-tn checkbox");
  }

  const spawnBtn = document.getElementById('spawn');
  const spawnForm = document.getElementById('spawn_form');
  const submitText = document.getElementById('submit-text');
  const submitSpinner = document.getElementById('submit-spinner');

  spawnForm.addEventListener('submit', () => {
    spawnBtn.setAttribute('disabled', 'disabled');
    submitText.classList.add('hidden');
    submitSpinner.classList.remove('hidden');
  });

  // This runs when user comes back via browser history (e.g. Back button)
  window.onpageshow = () => updateUseTnCheckbox();
</script>
{% endblock %}
