{% extends "templates/stop_pending.html" %}

{% block main %}
<div class="container">
  <div class="row">
    <div id="swan-loader" class="d-flex flex-column align-items-center justify-content-center gap-3 py-5 animate">
      <div class="loader-ring">
        <img src="{{ static_url('swan/logos/' + swan_logo_filename) }}" alt="SWAN logo">
      </div>
      <div class="text-body-secondary text-center">
        <h4 class="text-body-secondary">Stopping your session...</h4>
        <p>You will be able to start it again once it has finished stopping.</p>
        <p>If this is taking too long, <a id="refresh" href="#">click here to refresh</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">

const refreshBtn = document.getElementById("refresh");

refreshBtn.addEventListener("click", e => {
  e.preventDefault();
  window.location.reload();
});

setTimeout(() => {
  window.location.reload();
}, 5000);

</script>
{% endblock %}
